page-home {
    background-color: SkyBlue ;
}

ion-row {
     margin-left: auto;
     margin-right: auto;
}

#header {
    padding-top: 50px;
}

#content {
    padding-top: 70px;
}

#content-button {
    padding-top: 20px;
}